html {
  scroll-behavior: smooth !important;
}

@-ms-viewport {
  width: device-width;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
}

.section-title img {
  width: 30px;
}

h5 {
  color: #1d3356;
  font-weight: 700;
}

.description {
  color: grey;
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 100%;
  z-index: 3;
}

header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header .nav-item {
  padding: 0 10px;
  text-align: right;
}

header .nav-item a {
  color: white !important;
  font-weight: 400;
  font-size: 20px;
}

header .quote-btn {
  margin: 6px 0;
  border-radius: 50px;
  padding: 2px 10px !important;
  border: solid 1px #32b744;
  background: none;
  width: 130px;
  font-weight: 400;
  font-size: 20px;
}

header .quote-btn:hover {
  background: none;
}

@media only screen and (max-width: 1199px) {
  header .quote-btn {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  header .navbar {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.sticky {
  background-color: white;
  z-index: 2;
}

.sticky .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sticky .nav-item a {
  color: #1d3356 !important;
}

.sticky .quote-btn {
  color: #1d3356 !important;
}

.hero {
  background: url(images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 240px 0;
}

.hero span {
  color: white;
  padding: 3px 5px;
  background-color: #32b744;
}

.hero .title {
  color: white;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  padding: 10px 0;
}

.hero .description {
  color: white;
  padding: 20px 0;
  width: 60%;
}

.hero .slash-img {
  padding-left: 0px;
  padding-right: 0px;
}

@media only screen and (max-width: 575px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 50px;
  }
}

.cta {
  color: white;
  position: absolute;
  top: 600px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.cta img {
  width: 70px;
  height: 72px;
}

.cta .row {
  padding: 80px 40px;
  background-color: #32b744;
}

.cta .row h5 {
  color: white;
  margin: 20px 0;
}

.cta .container {
  width: 1200px;
}

@media only screen and (max-width: 767px) {
  .cta {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  .cta .container {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .cta {
    top: 600px;
  }
}

.services {
  padding: 100px 0;
  padding-top: 250px;
}

.services .item {
  padding: 30px 0;
}

@media only screen and (max-width: 991px) {
  .services {
    padding-top: 350px;
  }
}

@media only screen and (max-width: 767px) {
  .services {
    padding-top: 100px;
  }
}

.about {
  padding: 100px 0;
  padding-bottom: 250px;
  background-color: #f7f7f8;
}

.about .about-description {
  font-weight: 600;
  font-size: 18px;
}

.about .description {
  width: 92%;
}

.contact {
  position: absolute;
  top: 2115px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.contact .container {
  width: 1120px;
}

.contact .row {
  padding: 40px 0;
  background: url(images/contact.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact .row div {
  margin: auto;
}

.contact .row h2 {
  color: white;
}

.contact .row button {
  color: white;
  background-color: #1d3356;
  padding: 8px 20px;
  border-radius: 50px;
  border: none;
}

@media only screen and (min-width: 1200px) {
  .contact .col-lg-2 {
    text-align: right;
  }
}

@media only screen and (max-width: 1199px) {
  .contact {
    top: 2190px !important;
  }
}

@media only screen and (max-width: 991px) {
  .contact {
    top: 2520px !important;
  }
  .contact .col-sm-12, .contact .col-12 {
    text-align: center !important;
  }
}

@media only screen and (max-width: 767px) {
  .contact {
    top: 3220px !important;
  }
  .contact .col-sm-12, .contact .col-12 {
    text-align: center !important;
  }
}

@media only screen and (max-width: 575px) {
  .contact {
    top: 3480px !important;
    position: absolute;
    left: 5px;
    right: 5px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .contact .container {
    width: 100%;
  }
  .contact .col-sm-12, .contact .col-12 {
    text-align: center !important;
  }
}

@media only screen and (max-width: 460px) {
  .contact {
    top: 3540px !important;
  }
}

@media only screen and (max-width: 436px) {
  .contact {
    top: 3580px !important;
  }
}

@media only screen and (max-width: 360px) {
  .contact {
    top: 3950px !important;
  }
}

.cases {
  padding: 100px 0;
  padding-top: 200px;
}

.cases .row {
  margin: 10px 0;
  background-color: #f7f7f8;
}

.cases .row .text {
  padding: 50px;
  margin: auto;
  width: 50%;
}

.cases .row .image-sec {
  margin: auto;
  padding: 0 50px;
  padding-top: 10px;
}

.cases-responsive {
  padding: 100px 0;
}

.cases-responsive .row {
  margin: 10px 0;
  background-color: #f7f7f8;
}

.cases-responsive .row .text {
  padding: 10px;
}

.cases-responsive .row .image-sec img {
  margin: 10px 0;
}

.cases-responsive {
  display: none;
}

@media only screen and (max-width: 991px) {
  .cases {
    display: none;
  }
  .cases-responsive {
    display: block;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .cases-responsive {
    margin-top: 100px;
  }
}

footer .top {
  padding: 100px 0;
  background: url(images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer .top p {
  color: #d4d4d4;
  width: 90%;
}

footer .top textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  color: grey;
  border-color: transparent;
  resize: none;
}

footer .top input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: grey;
  border-color: transparent;
}

footer .top button {
  color: white;
  background: transparent;
  padding: 5px 20px;
  border-radius: 50px;
  border: solid 2px green;
}

footer .bottom {
  padding: 50px 0;
  background-color: #1d3356;
  color: white;
}

footer .bottom ul {
  padding: 0;
  list-style-type: none;
}

footer .bottom ul li a {
  color: white;
  line-height: 36px;
}

footer .bottom .social {
  padding: 0;
}

footer .bottom .social li {
  display: inline-block;
  margin-right: 10px;
}

footer .bottom .social li img {
  width: 20px;
}
/*# sourceMappingURL=index.css.map */